body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e6e6;
}

svg {
  border: 1px solid black;
  border-radius: 48%;
  background-color: #0f3057;
}

.country {
  fill: #aa8976;
  stroke: rgb(32, 28, 28);
}
